{% include get-slug.html %}

        <div id="nav-bar" class="non-printing">
        <h1><a href="{{ site.baseurl }}/" title="{{ site.data.meta.titles.[slug].title }}" class="nav-book">{{ site.data.meta.titles.[slug].title }}</a></h1>

        <div class="about">
            <ul>
                <li><a href="0-3-intro.html">About</a></li>
            </ul>
        </div><!--.about-->

{% comment %}Get a list of all provinces listed{% endcomment %}
{% capture province-list %}
    {% for provinces in site.data.advice-offices %}
        {{provinces['province']}}
    {% endfor %}
{% endcapture %}


        <div class="select-province">
            <ul class="select-province-list"><li>Select province</li>
                <ul class="province-list">
                    <li><a href="all.html">All</a></li>
                    {% if province-list contains "EC" %}<li><a href="{{ site.baseurl }}/ec.html">Eastern Cape</a></li>{% endif %}
                    {% if province-list contains "FS" %}<li><a href="{{ site.baseurl }}/fs.html">Free State</a></li>{% endif %}
                    {% if province-list contains "GP" %}<li><a href="{{ site.baseurl }}/gp.html">Gauteng</a></li>{% endif %}
                    {% if province-list contains "KZN" %}<li><a href="{{ site.baseurl }}/kzn.html">KwaZulu-Natal</a></li>{% endif %}
                    {% if province-list contains "LP" %}<li><a href="{{ site.baseurl }}/lp.html">Limpopo</a></li>{% endif %}
                    {% if province-list contains "NC" %}<li><a href="{{ site.baseurl }}/nc.html">Northern Cape</a></li>{% endif %}
                    {% if province-list contains "NP" %}<li><a href="{{ site.baseurl }}/np.html">Northern Province</a></li>{% endif %}
                    {% if province-list contains "NW" %}<li><a href="{{ site.baseurl }}/nw.html">North West</a></li>{% endif %}
                    {% if province-list contains "WC" %}<li><a href="{{ site.baseurl }}/wc.html">Western Cape</a></li>{% endif %}
                </ul>
            </ul>
        </div><!--.select-province-->

        <div class="search" class="non-printing">
            <input type="search" placeholder="To find, type here" required="">
        </div><!--.search-->

        </div><!--#nav-bar-->
        