{% include get-slug.html %}

        <div id="nav-bar" class="non-printing">
        <h1><a href="{{ site.baseurl }}/" title="{{ site.data.meta.titles.[slug].title }}" class="nav-book">{{ site.data.meta.titles.[slug].title }}</a></h1>

        <div class="about">
            <ul>
                <li><a href="{{ site.baseurl }}/{{ slug }}/0-4-about.html">About</a></li>
            </ul>
        </div><!--.about-->
        <div class="download">
            <ul>
                <li><a href="{{ site.baseurl }}/download/{{ slug }}.pdf">Download</a></li>
            </ul>
        </div><!--.download-->

{% comment %}Get a list of all provinces listed{% endcomment %}
{% capture province-list %}
    {% for provinces in site.data.advice-offices %}
        {{provinces['province']}}
    {% endfor %}
{% endcapture %}


        <div class="select-province">
            <ul class="select-province-list"><li>Select province</li>
                <ul class="province-list">
                    <li><a href="{{ site.baseurl }}/{{ slug }}/all.html">All</a></li>
                    {% if province-list contains "EC" %}<li><a href="{{ site.baseurl }}/{{ slug }}/ec.html">Eastern Cape</a></li>{% endif %}
                    {% if province-list contains "FS" %}<li><a href="{{ site.baseurl }}/{{ slug }}/fs.html">Free State</a></li>{% endif %}
                    {% if province-list contains "GP" %}<li><a href="{{ site.baseurl }}/{{ slug }}/gp.html">Gauteng</a></li>{% endif %}
                    {% if province-list contains "KZN" %}<li><a href="{{ site.baseurl }}/{{ slug }}/kzn.html">KwaZulu-Natal</a></li>{% endif %}
                    {% if province-list contains "LP" %}<li><a href="{{ site.baseurl }}/{{ slug }}/lp.html">Limpopo</a></li>{% endif %}
                    {% if province-list contains "MP" %}<li><a href="{{ site.baseurl }}/{{ slug }}/mp.html">Mpumalanga</a></li>{% endif %}
                    {% if province-list contains "NC" %}<li><a href="{{ site.baseurl }}/{{ slug }}/nc.html">Northern Cape</a></li>{% endif %}
                    {% if province-list contains "NP" %}<li><a href="{{ site.baseurl }}/{{ slug }}/np.html">Northern Province</a></li>{% endif %}
                    {% if province-list contains "NW" %}<li><a href="{{ site.baseurl }}/{{ slug }}/nw.html">North West</a></li>{% endif %}
                    {% if province-list contains "WC" %}<li><a href="{{ site.baseurl }}/{{ slug }}/wc.html">Western Cape</a></li>{% endif %}
                </ul>
            </ul>
        </div><!--.select-province-->

        {% include page-search %}

        </div><!--#nav-bar-->
        