// Nav bar

#nav-bar {
    position: fixed;
    top: 0;
    background-color: $sa-flag-white;
    padding: 0.5em 0.5em 1em 0.5em;
    width: 100%;
    opacity: 0.95;
    border-bottom: 1px solid #f2f2f2;
    box-shadow: $box-shadow-bottom;
    z-index: 1;
    h1 {
        font-size: $font-size-default;
        margin: 0;
        padding: 0.5em; // aligns with search field
        float: left;
    }
    p, ul, ol {
        font-family: $font-text-secondary;
        font-size: $font-size-default;
        color: #333333;
        list-style-type: none;
        padding: 0;
        margin: 0;
        ul {
            font-size: inherit;
        }
    }
}
#nav-bar a {
    text-decoration: none;
    color: inherit;
}
#nav-bar a:hover {
	color: #666666;
}
.home #nav-bar,
.cover #nav-bar {
	display: none;
}

// Keep content out of the way of the fixed nav bar
#nav-bar + #wrapper {
    margin-top: 8em;
}

// Media queries
@media only screen 
and (max-width: $media-query-width-break) { // Let nav-bar scroll out of view on small screens
    #nav-bar {
        position: relative;
        .select-province {
            float: left!important // keeps menu better aligned on narrow screens, important to override specificity
        }
    }
    #nav-bar + #wrapper {
        margin-top: 0;
    }
}
