// Mixins
// Thanks http://stackoverflow.com/a/17181946/1781075
@mixin placeholder {
  &::-webkit-input-placeholder {@content} // Chrome/Opera/Safari
  &:-moz-placeholder           {@content} // Firefox 18-
  &::-moz-placeholder          {@content} // Firefox 19+
  &:-ms-input-placeholder      {@content} // IE 10+
  &:placeholder-shown          {@content} // Spec
  &:placeholder                {@content} // Possible future official selector
}

input {
    font-family: $font-text-secondary;
    font-size: $font-size-default;
    color: #333333;
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: none;
    padding: 0.5em;
    margin-left: 0.5em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: inherit;
    border: 1px dashed $color-text-main;
    @include placeholder {
        color: $color-text-main;
    }
    ul {
        font-size: inherit;
    }
}
