// Museo
@font-face {
    font-family: "Museo";
    src: url(fonts/Museo500-Regular.otf);
}
@font-face {
    font-family: "Museo";
    src: url(fonts/Museo300-Regular.otf);
    font-weight: 300;
}
@font-face {
    font-family: "Museo";
    src: url(fonts/Museo700-Regular.otf);
    font-weight: bold;
}
